body{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
h1, h2 h3{
    color: #333;
    text-align: center;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgb(40 40 75);
}
.header-left{
    display: flex;
    gap: 10px;
    padding-left: 20px;

}
.header-left img{
    width: 30px;
    height: 30px;

}
.header-right{
    display: flex;
    align-items: center;
    gap: 20px;
}
.contact-info{
    display: flex;
    gap: 30px;

}
.contact-info p{
    margin: 0;
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
}
.contact-info img{
    width: 20px;
    height: 20px;
    border-radius: 3px;
}
nav ul li a:hover::after {

    display: block;
    width: 100%;
    height: 5px; 
    background-color: #FFA500; 
    position: absolute;

  }
  
  .banner {
    background-size: cover;           
    background-image: url(./asset/image/bg1.png);
    background-position: center;      
    background-repeat: no-repeat;     
    height: 60vh;                    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;                     
    position: relative;
    padding: 30px;                   
    box-sizing: border-box;  
    animation: change 10s infinite ease-in-out;
        
  }
  @keyframes change{
    0%{
      background-image: url(./asset/image/bg1.png);
    }
    20%{
      background-image: url(./asset/image/bg2.png);

    }
    40%{background-image: url(./asset/image/bg3.png);

    }
    60%{
      background-image: url(./asset/image/bg4.png);

    }
    80%{
background-image: url(./asset/image/bg5.jpeg);
    }
    100%{
background-image: url(./asset/image/bg2.png);
    }
  }
  
  .banner h1 {
    font-size: 100px;             
    color:white;
    margin: 0;                       
    line-height: 1.1;                
    max-width: 90%;                  
    overflow-wrap: break-word;  
    text-shadow: 2px 2px 2px black;   
  }
  .banner h1:hover{
    color: orange;
  }
  
  .banner p {
    font-size: 20px;               
    padding: 0 20px;                
    margin: 20px 0;               
    max-width: 90%;                  
  }
.button{
    padding: 10px 20px;
    background-color: #68b045;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.button:hover{
    color: black;
}
.navbar{

    display: flex;
    align-items: center;
    padding: 10px 20px;
    position: relative;
    z-index:10;
}
.logo img{
    height: 100px;
    margin-right: 100px;
}
nav ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding-left: 120px;
    flex-grow: 1;
    transition: all 0.3 ease;
}
nav ul li{
    margin: 0 10px;
    position: relative;
    padding-bottom: 5px;
}
nav ul li a{
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding-bottom: 5px;
    display: inline-block;
    position: relative;
    font-size: 20px;
margin-left: 20px;
}
.menu-icon{
    display: none;
    flex-direction: column;
    cursor: pointer;
}
.menu-toggle .bar{
    height: 3px;
    width: 25px;
    background-color: #333;
    margin: 4px 0;

}
.banner button {
    padding: 15px 30px; 
    background-color: rgb(245, 178, 84); 
    color: black; 
    font-weight: bold;
    font-size: x-large ;
    border: none; 
    border-radius: 5px;
    cursor: pointer; 
    box-shadow: 3px 2px 2px chartreuse;
}
button:hover{
  background-color: greenyellow;
  color: #538935;
}
/* adv */

.advantages, .about-us, .services, .portfolio, .process,
 .people-about-us, .skills, .contact-us, .our-contacts {
    padding: 40px;

  }
  
  .advantages, .about-us {
    background-color: #f4f4f4;

  }
  
  .advantage-items {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between; 
    align-items: center;
    width: 100%; 
    gap: 10px; 
  }
  
  .advantage-item {
    text-align: center;
    flex: 1; 
    min-width: 150px; 
    max-width: 200px; 
    box-sizing: border-box;
    margin: 10px;
  }
  
  
  .advantage-item img {
    width: 100px; 
    height: auto;
    
  }
  .green-text{
color:rgb(3, 172,3);
text-align:center;
  }
.portfolio-heading{
    text-align: center;
    font-size: 25px;
}

/* ABOUT US */

.Art-board {
    display: flex;
    flex-wrap: wrap; 
    width: 100%; 
    margin: 0;   
  }
  

  .Art-board1 {
    flex: 1; 
    margin: 10px; 
    padding: 20px; 
    background-color: #f2efef;
    text-align: left;
  }
  
  .Art-board1 p {
    text-align: left;
  }
  
  .black-text1 {
    text-align: center; 
    font-size: 2rem;
  }
  
  .green-text {
    text-align: center; 
    color: #68b045;
    font-size: 2rem; 
  }
  
  
  .Art-board2 {
    flex: 1; 
    margin: 10px; 
  }
  
  .Art-board2 img {
    width: 100%; 
    height: auto;
  }
  
  .about-us button {
    padding: 15px 30px; 
    background-color: rgb(245, 178, 84); 
    color: black; 
    font-weight: bold;
    font-size: x-large ;
    border: none;
    border-bottom: 4px solid red; 
    border-radius: 5px; 
    cursor: pointer;
    
  }

  /* OUR PORTFOLIO */

  .portfolio {
    background-color: black;
  }
  
  .portfolio-heading {
    font-weight: bold;
    font-size: x-large;
    text-align: center;
  }
  
  .black-text-p-folio {
    color: white; 
    font-weight: bold;
  }
  
  .green-text-p-folio {
    color: rgb(3, 172, 3); 
    font-weight: bold;
  }
  
  .portfolio-heading p, .advantage-items p {
    color: #c5c4c4;
    font-size: .7rem;
  }
  
  .text-container {
    display: flex;
    gap: 10px;
    justify-content: center; 
    flex-wrap: wrap; 
  }
  
  .text-container p {
    margin: 0; 
    padding: 20px;
    font-size: large;
    color: white;
  }
  
  .logo1 {
    color: rgb(247, 155, 28);
    font-weight: bold;
  }
  
  .portfolio-items {
    display: flex;
    justify-content: center;
    gap: 0; 
    padding: 0;
    margin: 0;
    flex-wrap: wrap; 
  }
  
  .portfolio-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0; 
    padding: 0;
    margin: 0;
  }
  
  .portfolio-item {
    margin: 0;
    padding: 0;
  }
  
  .portfolio-item img {
    display: block; 
    width: 250px; 
    height: auto; 
    margin: 0;
    padding: 0;
    border: none; 
  }
  
  p {
    text-align: center;
  }

  /* OUR SERVICES */
  
  .services-heading {
    font-weight: bold;
    font-size: x-large;
    text-align: center;
    
  }
  .services-heading p{
    color: #c5c4c4;
    font-size: .7rem;
    margin-bottom: 100px;
  }
  
  .circle-image {
    position: absolute;
    top: -25px; 
    left: 50%;
    transform: translateX(-50%);
    width: 70px; 
    height: 70px;
  }
  
  .circle-image img {
    width: 100%; 
    height: 100%;
  }
  .service-item {
    position: relative;
    padding-top: 40px; 
    padding: 20px;
    background-color: #f4f4f4;
    margin: 10px;
  }
  
  .service-item h3 {
    margin-top: 40px;
    text-align: center;
  }
  
  .service-item p {
    font-size: 5px;
    color: #a19f9f;
    font-weight: bold;
  }
  
  .read {
    text-align: center;
  }
  

  .read a {
    color: #68b045 !important; 
    text-decoration: underline !important; 
    font-size: 0.7rem;
  }
  
  
  .service-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px; 
  }

  /* PROCESS */
  .process-heading h2 {
    font-weight: bold;
    font-size: xx-large;
    text-align: center;
  }
  
  .process-black-text {
    color: black;
    font-weight: bold;
  }
  
  .process-green-text {
    color: rgb(3, 172, 3);
    font-weight: bold;
  }
  
  .process-steps {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
    gap: 10px;
  }
  
  .step {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex-basis: 100px;
  }
  
  .step img {
    width: 200px; 
    height: 200px;
    object-fit: cover; 
    margin-bottom: 10px; 
  }
  
  .step p {
    margin: 0;
    font-size: 16px;
  }

  /* PEOPLE ABOUT US */
  
  .portfolio-heading h2 {
    font-weight: bold;
    font-size: xx-large;
    text-align: center;
  }
  
  .person {
    border-radius: 0px;
  }
  
  .people-about-us {
    text-align: center;
    margin: 20px;
  }
  
  .portfolio-heading {
    margin-bottom: 20px;
  }
  
  .people {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }
  
  .person {
    display: flex;
    align-items: center;
    width: 50%;
    margin: 0;
    padding: 0;
    position: relative;
    box-sizing: border-box;
  }
  
  /* Borders */
  .people .person:first-child {
    border-right: 2px solid gray;
    border-bottom: 2px solid gray;
  }
  
  .people .person:nth-child(2) {
    border-bottom: 2px solid gray;
  }
  
  .people .person:nth-child(3) {
    border-right: 2px solid gray;
  }
  
  .people .person:nth-child(4) {
    border-left: 0px solid gray;
    
  }
  
  .person img {
    width: 100px;
    height: auto;
    margin-right: 15px;
    padding: 20px;
  }
  
  .person p {
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
  }

  /* OUR SKILLS */
  
  .skill-heading h2 {
    font-weight: bold;
    font-size: xx-large;
    text-align: center;
  }
  
  .skill-black-text {
    color: black;
    font-weight: bold;
  }
  
  .skill-green-text {
    color: rgb(3, 172, 3);
    font-weight: bold;
  }
  
  /* New styles for skills section */
  .skill-circles {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    margin-top: 20px;
  }
  
  .step {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    margin: 0 15px; 
  }
  
  .step img {
    width: 250px; 
    height: auto; 
    margin-bottom: 10px;
  }
  
  .step p {
    margin: 0; 
    text-align: center; 
    font-size: 16px; 
  }

  /* START NEW PROJECT, CONTACT US */
  
  .new-project {
    background-image: url(./asset/image/bg4.png);
    color: white;
    padding: 20px;
    text-align: center;
    
  }
  .new-project h2 {
    font-size: 4rem;
    margin-bottom: 50px;
    margin-top: 0px;
    color: white;
  }
  input[type="text"], input[type="email"] {
    width: 100%; 
    max-width: 300px; 
    padding: 15px; 
    font-size: 16px;
    border: 1px solid #a19f9f; 
    border-radius: 5px; 
    margin-bottom: 10px; 
  }
  
  /* Placeholder text style */
  input::placeholder {
    color: rgb(172, 170, 170); 
    font-weight: normal; 
    font-size: 14px; 
  }
  
  /* Button styling */
  button {
    padding: 15px 30px;
    background-color: rgb(245, 178, 84); 
    color: black; 
    font-weight: bold;
    border: none; 
    border-bottom: 4px solid black;
    box-shadow: 2px 2px 2px solid dark black; 
    border-radius: 5px; 
    cursor: pointer; 
    margin-top: 10px; 
  }

  /*CONTACT US SECTION */
  
  .our-contacts h2 {
    
    font-size: 3rem; 
    font-weight: bold;
    margin-top: 0px;
  }
  
  .black-text4 {
    color: black;
    font-weight: bold;
    font-size: 2.5rem;
  }
  
  .green-text5 {
    color: rgb(3, 172, 3);
    font-weight: bold;
    font-size: 2.5rem;
  }
  
  .our-contacts p {
    margin-top: 50px;
    line-height: 1.5; 
  }
.our-contacts img {
    width: 25px; 
    height: auto;
    border-radius: 0px;
  }
  
  .our-contactsp, .skillp, .people-about-usp, .processp, .portfolio-headingp {
    color: rgb(185, 183, 183);
    text-align: center;
  }
  
  .process h6 {
    font-size: 0.1rem;
    color: rgb(185, 183, 183);
  }
  
  .map {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
  }
  
  .google-map-embed {
    width: 1500px; 
    height: 450px; 
    border: 0;
  }
  
  /* FOOTER */
  footer {
    background-color: #538935;
    color: white;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
    flex-wrap: wrap; 
  }
  
  .footer-logo {
    flex: 1;
    margin-right: 20px;
  }
  
  .footer-logo p {
    width: 250px;
    word-wrap: break-word;
    white-space: normal;
    margin-bottom: 10px;
    text-align: justify;
  }
  
  .footer-logo img {
    width: 100px;
  }
  
  .footer-links {
    display: flex;
    flex: 3;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
  }
  
  .services, .useful-links, .contacts-footer {
    flex: 1;
    padding-top: 0;
  }
  
  .services {
    padding-right: 20px;
  }
  
  .useful-links {
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .contacts-footer {
    padding-left: 20px;
  }
  
  h4 {
    margin-top: 0;
    margin-bottom: 10px;
    padding: 0;
  }
  
  .services a, .useful-links a {
    color: white;
    text-decoration: underline;
  }
  
  .services a:hover, .useful-links a:hover {
    text-decoration: underline;
  }
  
  .contacts-footer img {
    width: 25px;
    height: auto;
    border-radius: 0;
  }
  
  .contacts-footer p {
    display: flex;
    align-items: center;
    margin: 5px 0;
  }
  
  .contacts-footer img {
    width: 30px;
    height: auto;
    margin-right: 10px;
  }
  
  .followus-footer img {
    width: 45px;
    height: auto;
    margin-right: 10px;
  }
  
  .footer-links:before, .footer-links:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: lightgreen;
  }
  
  .footer-links:before {
    left: 33%;
  }
  
  .footer-links:after {
    left: 66%;
  }